.App {
  text-align: center;
}

.post-list {
  margin: 20px;
}

.post-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.post-item h3 {
  margin: 0;
}

input {
  padding: 10px;
  margin: 20px 0;
  width: 80%;
}
